.html-root {
    height: 100%;
}

::selection {
    background: var(--accent-primary, #034);
    color: #fff;
}

body {
    accent-color: var(--accent-primary, #034);
}

textarea {
    resize: vertical;
}

.html-body {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    align-content: stretch;
    align-items: stretch;
    grid-auto-rows: min-content;
    overflow-y: scroll;
}

.data-table-scroller {
    max-width: 100%;
    overflow-x: auto;
}

.data-table {
    min-width: 100%;
    border-spacing: 0;
}

.data-table-caption {
    display: none;
}

.data-table-row {
    
}

.data-table-cell {
    padding: 3px;
}

.type-id::before {
    content: '#';
    font-size: 0.8em;
    color: #aaa;
    font-style: italic;
}

.type-id.compact {
    display: block;
    max-width: 5em;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

.type-id.compact:hover {
    overflow-x: visible;
    position: relative;
    transition: overflow-x 1s 1s step;
    outline: 3px solid white;
}

.tooltipped > .type-id.compact:hover {
    overflow-x: hidden;
    position: static;
}

.type-id.compact::first-line {
    background-color: white;
}

.data-table-cell.empty {
    text-align: left;
    color: #aaa;
}

.data-table-cell.empty::before {
    content: '---';
}

.data-table-head-cell {
    padding: 3px;
    border-bottom: 1px solid gray;
    white-space: nowrap;
    padding-right: 1em;
}

.data-table-head-cell.spacer {
    color:  #aaa;
    font-weight: normal;
    font-size: 0.8em;
    padding-right: 1em;
    padding-left: 1em;
}

.data-table-cell.actions {
    white-space: nowrap;
}

.data-table-head-cell:not([align]) {
    text-align: left;
}

.data-table-foot-cell {
    border-top: 1px solid gray;
}

.data-table-empty-cell {
    padding: 1em;
    text-align: center;
    border: 2px dashed #eee;
    font-style: italic;
    color: #aaa;
}

.sticky-v {
    position: sticky; 
    right: 50%;
    left: 50%;
    width: max-content;
    text-align: center;
    transform: translateX(-30%);
}

.data-table-head-cell.sticky-end,
.data-table-cell.sticky-end,
.data-table-foot-cell.sticky-end {
    position: sticky; 
    right: 0;
    padding-right: 0.5em;
    padding-left: 2em;
    background-image: linear-gradient(to right, transparent, white 30%);
}

.data-table-head-cell.sticky-start,
.data-table-cell.sticky-start,
.data-table-foot-cell.sticky-start {
    position: sticky; 
    left: 0;
    padding-left: 0.5em;
    background-image: linear-gradient(to right, white 70%, transparent);
}

.form-container {
    display: grid;
    grid-template-columns: max-content auto min-content min-content;
    grid-auto-flow: row;
    gap: 1em;
    margin: 0;
}

.form-container.dense {
    grid-template-columns: max-content auto;
}

.form-container-field {
    margin: 0;
    display: grid;
    grid-auto-flow: row;
    gap: 0.1em;
}

.form-container-field > div:not([class]) {
    flex-grow: 1;
}

.form-container-label:not(.form-container-spacer)::after {
    content: ':';
}

.form-container-info {
    margin: 0;
    display: flex;
    align-items: start;
    justify-content: end;
    padding-top: 0.7em;
}

.form-container-buttons {
    margin: 0;
    display: flex;
    gap:  1em;
    align-items: center;
    justify-content: start;
}

.form-container-label {
    display: flex;
    align-items: start;
    padding-top: 0.5em;
    justify-content: end;
    grid-column: 1;
    min-width: 8em;
    padding-right: 1em;
}

.form-container-label.dense {
    margin-right: 0;
}

.form-container-label > label.required::before {
    content: ' ⊛ ';
}

.keyvalue-container {
    display: grid;
    gap: 0.5em;
    grid-template-columns: minmax(min-content, max-content) minmax(min-content, 1fr) auto;
    grid-auto-flow: row;
    gap: 1em;
}

.keyvalue-container-field {
    margin: 0;
    display: flex;
    align-items: center;
}

.keyvalue-container-field.wide {
    grid-column: span 2
}

.keyvalue-container-field.empty::after {
    content: 'None';
    color: #aaa;
    font-style: italic;
}

.keyvalue-container-label {
    display: flex;
    align-items: center;
    justify-content: end;
    grid-column: 1;
}

.keyvalue-container-label.top {
    align-items: start;
}

.keyvalue-container-label::after {
    content: ':';
}

.inline-form {
    display: inline-block;
}

.inline-button {
    color: #fff;
    background: var(--accent-primary, #034);
    display: inline-block;
    width: 1.5em;
    height: 1.4em;
    border: none;
    border-radius: 0.3em;
    cursor: pointer;
    display: flex inline;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: center;
    font-size: 0.8em;
}

.inline-button:hover {
    filter: brightness(1.05);
}

.inline-button:active {
    filter: brightness(0.95);
}

.icon-link {
    color: #fff;
    text-decoration: none;
    border-radius: 100%;
    background: var(--accent-primary, #034);
    border:  0.2em solid var(--accent-primary, #034);
    width: 0.8em;
    height: 0.8em;
    display: flex inline;
    font-size: 1em;
    align-items: center;
    justify-content: center;
    text-align: center;
    vertical-align: bottom;
    overflow: visible;
    position: relative;
}

.icon-link svg {
    width: 100%;
    height: 100%;
}

.tooltipped {
    position: relative;
}

.tooltipped[aria-label]:not([aria-label=""])::after {
    content: attr(aria-label);
    position: absolute;
    right: 100%;
    margin-left: 0.5em;
    top: 50%;
    transform: translateY(-50%);
    background: #333e;
    width: max-content;
    max-width: 50vw;
    font-size: 1rem;
    font-family: sans-serif;
    font-weight: normal;
    font-style: normal;
    padding: 0.3em 0.5em;
    border-radius: 0.2em;
    pointer-events: none;
    opacity: 0;
    color:  #333e;
    transition: opacity 100ms ease-out, color 250ms ease-out;
}

.tooltipped.vertical[aria-label]:not([aria-label=""])::after {
    left: -50%;
    margin-left: auto;
    bottom: 100%;
    margin-bottom: 0.5em;
}

.tooltipped[aria-label]:not([aria-label=""]):hover::after,
.tooltipped[aria-label]:not([aria-label=""]):focus-visible::after,
.tooltipped[aria-label]:not([aria-label=""]):active::after {
    opacity: 1;
    color:  white;
    transition: opacity 200ms ease-out, color 150ms 50ms ease-out;
}

.icon-link.info {
    cursor: help;
}

.icon-link:link:hover {
    filter: brightness(1.05);
}

.icon-link:link:active {
    filter: brightness(0.95);
    position: relative;
    top: 1px;
}

.plain-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.flash-message {
    padding: 0.5em;
    margin: 0.4em 0;
    text-align: center;
    animation: 1s 2s fade-out forwards;
    position: absolute;
    bottom: 100%;
    left: 0;
    right: 0;
    z-index: 1;
}

.flash-message.success {
    background: #bbeebb;
}
.flash-message.error {
    background: #ebb;
}

@keyframes fade-out {
    0% {
        filter: brightness(0.95);
        color: #000f;
    }
    30% {
        font-size: 1em;
        opacity: 1;
    }
    40% { 
        color: #0000;
    }
    100% {
        display: none;
        opacity: 0;
        pointer-events: none;
        color: #0000;
        transition-timing-function: ease-in-out;
    }
}

.prompt-box {
    border: 1px solid #eee;
    padding: 2em 2em 1.5em;
    background: #fff;
    box-shadow: 0em 1em 4em -0.5em #000a;
}

.prompt-titel {
    margin: 0 auto 1em;
    text-align: center;
    background-image: var(--favicon-url);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: 0 50%;
    padding-left: 1.5em;
    padding-top: 1em;
    width: min-content;
    color:  #012;
    white-space: nowrap;
    position: relative;
}

.prompt-container {
    --color-a: #333;
    --color-b: var(--accent-primary);
    display: grid;
    align-items: center;
    justify-content: center;
    background-size:cover; 
    background-position: 50% 50%; 
    background-image: url(/hero.svg);
    background-color: var(--color-a);
    animation-name: prompt-fade;
    animation-duration: 0.2s;
    animation-timing-function: ease-in;
    animation-delay: 0.6s;
    animation-fill-mode: forwards;
}

@keyframes prompt-fade {
    0% {
        background-color: var(--color-a);
    }

    100% {
        background-color: var(--color-b);
    }
}

.prompt-error {
    text-align: center;
    color: #a00;
}

a:not([class]) {
    color: var(--accent-primary, #034);
}

span[onclick]:not([class]) {
    color: var(--accent-primary, #034);
    cursor: pointer;
    text-decoration: underline;
}

.breadcrump {
    display: block;
    list-style: none;
    padding: 0;
    display: flex;
    flex-flow: wrap;
    gap: 0.3em;
    align-items: flex-end;
}

.breadcrump.outer {
    padding: 2em 0 2em;
    margin-top: -2em;
    margin-bottom: -2em;
    min-height: 2.1em;
}

.breadcrump-item {
    display: inline-block;
    padding: 0;
    white-space: nowrap;
}

.breadcrump-item::before {
    content: ' / ';
}

.breadcrump-segment {
    display: flex;
    flex-direction: column;
    position: relative;
}

.breadcrump-segment-title {
    font-size: small;
    color: var(--accent-primary);
    /*position: absolute;
    left: 0;
    bottom: 100%;*/
}

.breadcrump-segment-title {
    opacity: 0;
    max-width: 100%;
    overflow-x: visible;
    transition: opacity 0.1s linear;
}

.breadcrump:hover .breadcrump-segment-title {
    opacity: 1;
}

.color-valid {
    color: #0a0;
}

.color-invalid {
    color: #a00;
}

.dragger {
    cursor: move;
    text-align: center;
    font-weight: bold;
    min-width: 3ch;
    background-color: #555;
    font-size: 1rem;
    justify-items: center;
    line-height: 1.2;
    padding: 0.2rem;
    color: #fff;
    vertical-align: baseline;
    border-radius: 0.2em;
    display: flex inline;
    align-items: center;
    justify-content: center;
}

.dragger.state-dragging {
    background: var(--accent-primary);
    color: #fff;
    box-shadow: 0 0 4px #eeee;
    pointer-events: none;
}

.dragger:not(.state-dragging).state-over {
    background: #ffff88;
}

.drag-target:not(.state-dragging) {
    box-shadow: inset 1px 1px 2px 2px #0001, 0 0 5px 0 var(--accent-primary);
    color:  transparent;
    opacity: 0.5;
}

body.state-dragging .dragger:not(.drag-target):not(.state-dragging) {
    opacity: 0.2;
}

.drag-target-large:not(.state-dragging) {
    outline: 1px solid var(--accent-primary);
    background: #fff;
}


.drag-target-large > .block-list li {
    background: #fff;
}

.drag-target-large.state-dragging, .drag-target-large.state-dragging .drag-target-large {
    background: #eee !important;
    color: #0001;
    outline: none;
    pointer-events: none;
}

.drag-target-large.state-dragging li, .drag-target-large.state-dragging .drag-target-large li {
    background: #eee;
}

.drag-target-large.state-dragging a {
    color: #0004;
}



.drag-target-large.state-over a {
    color: #fff;
}


.drag-target-large.state-over * * * a {
    color: var(--accent-primary);
}


.drag-target-large.state-over {
    background-color: var(--accent-primary) !important;
    color: #fff !important;
}

.state-over .drag-target-large.state-dragging a {
    color: #0004;
}

.drag-target-large.disabled {
    pointer-events: none;
}

.tab-nav + h2 {
    display: none;
}

.tab-list {
    display: flex;
    list-style: none;
    align-items: baseline;
    padding: 0;
    margin: 0;
    gap:  0.5em;
    border-width: 0 0 1px 0;
    border-style: solid;
    border-color: gray;
    padding: 0 0.2em;
    background-image: linear-gradient(transparent 50%, #aaa1);
    margin-bottom: 2em;
}

.tab-list-item {
    display: flex;
    align-items: stretch;
}

.tab-link {
    display: flex;
    align-items: center;
    font-size: 0.9em;
    border-style: solid;
    border-width: 1px;
    border-color: transparent;
    padding: 0.5em 1em;
    border-radius: 0.1em 0.1em 0 0;
    margin-bottom: -1px;
    border-bottom: 1px solid gray;
    color: var(--accent-primary, #034);
}

.tab-link-oldschool {
    border-color: gray;
    background: #eee;
    background-image: linear-gradient(transparent 50%, #0001);
}

.tab-link:hover {
    border-color: #ccc #ccc gray #ccc;
}

.tab-link:focus {
    border-color: #ccc #ccc gray #ccc;
    color: var(--accent-primary, #034);
}

.tab-link:active {
    background-color: #f0f0f0;
}

.tab-link.state-active {
    background: #fff;
    border-color: gray gray white gray;
    text-decoration: none;
    color: #000;
    background-image: none;
}

.tab-label {
    display: flex;
    align-items: center;
    padding: 0.6em 1em 0;
    font-size: small;
    color: #999;
    align-items: baseline;
}

.quicktab-list {
    display: flex;
    list-style: none;
    align-items: stretch;
    padding: 0;
    margin: 0;
    gap:  0.5em;
    margin-bottom: 2em;
}

.quicktab-link {
    padding: 0.3em 0.8em;
    color: var(--accent-primary);
    filter: saturate(10%);
    cursor: pointer;
    text-decoration: underline;
}

.quicktab-link.need-confirmation::after {
    content: none;
}

.quicktab-link.need-confirmation {
    outline: 8px solid #fd07;
    filter: saturate(100%);
}

.quicktab-link:hover {
    background-color: #f0f0f0;
}

.quicktab-link:active {
    background-color: #eaeaea;
}

.quicktab-link.extra {
    background-color: transparent;
}

.quicktab-link.state-active {
    color: #fff;
    background-color: var(--accent-primary);
    text-decoration: none;
    border-radius: 0.2em;
    cursor: default;
}

.quickform {
    display: none;
}

.quickform-inline {
    display: none;
}


body.show-quickform .quickform {
    display: block;
}

body.show-quickform .quickform-inline {
    display: inline;
}

.link-button {
    padding:  0.7em;
    cursor: pointer;
    color: var(--accent-primary, #034);
    display: inline-block;
    background: none;
    border: none;
    margin: 0;
    border: 1px solid transparent;
    font-family: sans-serif;
    font-size: 0.8em;
}

.form-button {
    display: inline-block;
    padding:  0.7em 1em;
    border: 1px solid #0002;
    cursor: pointer;
    background: #ddd;
    color: #000;
    border-radius: 0.2em;
    text-align: center;
    font-size: 0.8em;
}

.form-button.primary {
    background-color: var(--accent-primary, #034);
    filter: saturate(30%);
    color: #fff;
}

.form-button.required {
    filter: saturate(100%);
    outline: 8px solid #fd0;
}


.form-button:hover {
    filter: brightness(1.03);
}

.form-button:active {
    filter: brightness(0.95);
    position: relative;
    top: 1px;
}

.action-button {
    display: inline-block;
    padding:  0.7em 1em;
    border: 1px solid #0002;
    cursor: pointer;
    border-radius: 0.2em;
    text-align: center;
}

.action-button:hover {
    filter: brightness(1.05);
}

.action-button:active {
    filter: brightness(0.95);
    position: relative;
    top: 1px;
}

.action-button.danger {
    background: #a00;
    color: #fff;
}

.form-field-container {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.form-field-sequence {
    display: flex;
    gap: 1em;
    align-items: baseline;
}

.form-field-sequence > * {
    flex-shrink: 1;
}

.form-field:not([type=color]) {
    padding:  0.5em;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    flex-basis: 15em;
    flex-grow: 1;
    font: inherit;
    border:  1px solid #aaa;
    border-radius: 0.1em;
    line-height: 1.4;
}

.form-field.monospace {
    font-family: monospace;
    background: #111;
    color:  #fff;
    font-size: 1.2em;
}

.form-field.compact {
    width: min-content;
    flex-grow: 0;
}

.form-field:disabled {
    background-image: repeating-linear-gradient(
        45deg,
        #ddd,
        #ddd 10px,
        #f0f0f0 10px,
        #f0f0f0 20px
      );;
}

.form-field.multiline {
    resize: vertical;
    min-height: 10em;
    padding: 1em;
}

.form-field-sum-container {
    display: flex;
    gap: 1em;
    align-items: center;
}

.form-field-sum-radio {
    display: none;
}

.form-field-sum-content {
    display: none;
    flex-basis: 100%;
    justify-content: stretch;
    justify-items: stretch;
    gap: 0.5em;
}

.form-field-sum-content .form-choice-label {
    user-select: none;
}

.form-field-sum-content:last-child {
    display: flex;
}

.form-field-sum-radio:checked ~ .form-field-sum-content:last-child {
    display:  none;
}

.form-field-sum-radio:checked + .form-field-sum-content {
    display: flex !important;
}

.nopointer {
    pointer-events: none;
}

.form-select {
    padding:  0.5em;
    display: block;
    width: 100%;
    box-sizing: border-box;
    font: inherit;
}

.form-select.compact {
    width: min-content;
}

.inline-list {
    display: flex;
    flex-flow: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 0.2em;
}

.inline-list.separator > li:not(:last-child)::after {
    content: ', ';
    white-space: pre;
}

.inline-list.error {
    color: #a00;
}

.warning-box {
    padding: 1em; 
    border: 1px solid darkred;
    background: #fee;
    margin: 1em 0;
}

.approve-box {
    padding: 1em; 
    border: 1px solid #04a;
    background: #def;
    margin: 1em 0;
}

.neutral-box {
    padding: 1em; 
    border: 1px solid #aaa;
    background: #eee;
    margin: 1em 0;
}

.faded-link {
    color: var(--accent-primary, #034);
    opacity: 0.1;
    transition: opacity 0.05s linear;
}

.faded-link:hover {
    filter: brightness(0.95);
}

.details {
    margin: 1em 0;
    background: #fafafa;
}

.details-summary {
    background: #eee;
    padding: 1em;
    border-bottom: 1px solid #ddd;
    display: flex;
    align-items: center;
    gap: 0.2em;
}

details>.details-summary {
    cursor: pointer;
}

details>.details-summary::before {
    content: '⏵';
}

details[open]>.details-summary::before {
    content: '⏷';
}

details>.details-summary ~ * {
    padding: 1em;
}

.block-list {
    display: flex;
    list-style: none;
    flex-direction: column;
    padding: 0 0;
    margin: 0;
    gap: 0.3em;
}

.block-list .block-list {
    margin: 0.4em 0 0 2em;
}

.block-list.small {
    font-size: 0.9rem;
    margin-left: 1em;
}

.block-list.small a {
    filter: brightness(0.7);
    opacity: 0.5;
    text-decoration-color: #fff6;
}

.site-nav {
    background: #f0f0f0;
    padding: 2em;
    align-self: start;
    display: flex;
    flex-direction: column;
    gap: 1em;
    box-shadow: 0 -0.1em 0.5em -0.4em #000a;
}

.site-title {
    margin: 0;
    text-decoration: none;
    font-size: 1.4em;
    padding-left: 3em;
    min-height: 2.4em;
    display: flex;
    align-items: center;
    flex-flow: wrap;
    position: relative;
}

.site-title-icon {
    float: left;
    justify-self: start;
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    left: 0;
    width: 3em;
    color: var(--accent-primary);
}

.stealth-link .site-title-icon {
    transition: opacity 0.1s ease-out;
    opacity: 0.8;
    opacity: 1;
}

.stealth-link:hover .site-title-icon {
    opacity: 1;
}

.stealth-link .site-title-icon svg {
    transition: transform 0.1s ease-out;
    backface-visibility: hidden;
    transform: translateZ(0);
    transform-origin: center;
}

.stealth-link:hover .site-title-icon path[opacity] {
    opacity: 0.8;
    stroke-width: 1pt;
    stroke:  white;
}

.site-section-title {
    margin: 0;
    font-size: 1.2em;
}

.stealth-link {
    color: inherit;
    text-decoration: none;
}

.stealth-link:hover {
    text-decoration: underline;
    text-decoration-color: #0003;
}

.form-choice-list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 0.1em 0.5em;
}

.form-choice-label {
    padding: 0.5em 0.7em 0.5em 0.3em;
    display: flex;
    cursor: pointer;
    position: relative;
    align-items: center;
}

.form-choice-info {
    padding: 0.5em 0.7em 0.5em 0.3em;
    display: block;
}

.marker {
    border-radius: 0.1em;
}

.form-choice-label > input:focus-visible {
    outline: none;
}

.form-choice-label > input:focus-visible ~ .marker {
    outline: 3px solid var(--accent-primary);
}

.form-choice-label > input:hover ~ .marker {
    background: #ddd6;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.form-choice-label > input:active ~ .marker {
    background: #d1d1d1;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.form-choice-label > input:checked ~ .marker {
    background: #ddd;
    position: absolute;
    inset: 0;
    z-index: -1;
}

.form-choice-label > * {
    cursor: pointer;
}

.tab-container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 100%;
    padding-bottom: 2em;
    max-width: 100%;
}

.tab-container.dense {
    padding-bottom: 0;
}

.tab-container-radio {
    display: none;
}

.tab-container-content {
    display:  none;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
    max-width: 100%;
    padding-bottom: 1em;
}

.tab-container-content.need-confirmation {
    border-bottom: 1px solid #aaa;
}

.tab-container-content:last-child {
    display: block;
}

.tab-container-radio:checked ~ .tab-container-content:last-child {
    display:  none;
}

.tab-container-radio:checked + .tab-container-content {
    display: block !important;
}

.global-bar {
    position: absolute; 
    inset: 0 0 auto 0;
    background: #222;
    color: #fff;
    display: grid;
    grid-template-columns: minmax(100px, 80em);
    justify-content: center;
    justify-items: end;
}

.global-tabs {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    align-items: stretch;
}


.global-tabs-item {
    display: flex;
    align-items: stretch;
}

.global-tabs-link {
    color: inherit;
    display: block;
    padding: 0.5em 1em;
}

.global-tabs-link.state-active {
    color: var(--accent-primary);
    background: white;
    text-decoration: none;
}

.global-tabs-link.state-active img {
    filter: none;
}

[data-prefix]::before {
    content: attr(data-prefix) ': ';
    color: #aaa;
    display: block;
    font-size: 0.7em;
    font-weight: normal;
    line-height: 0.8;
    display: block;
}
.badge {
    border-radius: 2px;
    background: #333;
    color: #fff;
    padding:  2px 4px;
    font-family: sans-serif;
    font-size: 0.8em;
    display: flex inline;
    gap: 0.3em;
    align-items: center;
    white-space: nowrap;
}

.badge:empty {
    display: none;
}

.badge.true {
    background: #0a0;
}

.badge.false {
    background: #a00;
}

h1, h2, h3 {
    display: flex;
    gap: 0.5em;
    align-items: baseline;
}

.inline-icon {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

.inline-prefix-icon {
    width: 1em;
    height: 1em;
    margin-inline: 0 5px;
    vertical-align: bottom;
}

.form-error-container {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    color: #a00;
    padding-bottom: 1em;
    border-bottom: 1px solid #a00;
    margin-bottom: 1em;
}

.error-list {
    display: flex;
    gap: 0.3em;
    flex-direction: row;
    flex-flow: wrap;
}

.error-list-label {
    grid-column: 1;
    font-weight: bold;
    page-break-before: always;
    break-before: always;
}

.error-list-item {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

.form-error-title {
    margin: 0;
}

.form-container-label.state-error {
    color: #a00;
    font-weight: bold;
}

.state-error > div > .form-field {
    border-color: #a00;
}

.state-error > div > .form-choice-list {
    border: 1px solid #a00;
}
.state-error > div > .form-choice-list input[checked] ~ .marker {
    background: #faa;
}

.action-link {
    font-size: small;
    color: var(--accent-primary, #034);
}

.action-link.soft-warn:hover {
    color: #a00;
}